%h1 Listing applicants

%table
  %thead
    %tr
      %th Name
      %th Kana
      %th Sex
      %th Age
      %th Tel
      %th Email
      %th Address
      %th
      %th
      %th

  %tbody
    - @applicants.each do |applicant|
      %tr
        %td= applicant.name
        %td= applicant.kana
        %td= applicant.sex
        %td= applicant.age
        %td= applicant.tel
        %td= applicant.email
        %td= applicant.address
        %td= link_to 'Show', applicant
        %td= link_to 'Edit', edit_applicant_path(applicant)
        %td= link_to 'Destroy', applicant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Applicant', new_applicant_path
