%h1 Listing clients

%table
  %thead
    %tr
      %th Name
      %th Url
      %th Address
      %th Tel
      %th Banner url
      %th Email
      %th Commition
      %th Condition
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.name
        %td= client.url
        %td= client.address
        %td= client.tel
        %td= client.banner_url
        %td= client.email
        %td= client.commition
        %td= client.condition
        %td= link_to 'Show', client
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Client', new_client_path
